.filter{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(219, 217, 217);
    padding-bottom: 20px;
    border-radius: 15px 15px;
}

.filterInput{
    width:80%;
    margin: auto;
    padding-Top: 10px;
}
.filterInput-bloc{
    display: flex;
    gap:10px;
    justify-content: space-between;
}

@media only screen and (max-width:450px){
    .filterInput-bloc{
        display: flex;
        flex-direction: column;
    }
    .localType{
        display: flex;
        flex-direction: column;
    }
}